//! **************************************************************************
// Written by: Map P.20131013 on Sun May 19 17:27:46 2019
//! **************************************************************************

SCHEMATIC START;
COMP "Clk_100M_top" LOCATE = SITE "V10" LEVEL 1;
COMP "Green_top<0>" LOCATE = SITE "V6" LEVEL 1;
COMP "Green_top<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "Green_top<2>" LOCATE = SITE "P8" LEVEL 1;
COMP "Vsync_top" LOCATE = SITE "P7" LEVEL 1;
COMP "Reset_top" LOCATE = SITE "T5" LEVEL 1;
COMP "Blue_top<0>" LOCATE = SITE "T7" LEVEL 1;
COMP "Blue_top<1>" LOCATE = SITE "R7" LEVEL 1;
COMP "Red_top<0>" LOCATE = SITE "N7" LEVEL 1;
COMP "Red_top<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "Red_top<2>" LOCATE = SITE "U7" LEVEL 1;
COMP "Hsync_top" LOCATE = SITE "N6" LEVEL 1;
SCHEMATIC END;

